<div class="text-center" style="margin-top: 10px; margin-bottom: 30px;">
    Created by <a href="http://www.lancelarsen.com" target="_blank">Larsen Larsen</a><br/>
    Version @version
</div>

@code
{
    Version version = typeof(Program).Assembly.GetName().Version;
}